@{
    ViewBag.Title = "Home Page";
}

<h1> DMV Home Page </h1>

<p>Welcome to the DMV home page.</p>

<p>Here you'll see two tabs, the first tab will direct you to a view page 
    with all current requests for change. The second tab will direct you
    where you may fill out a new request. </p>