@{
    ViewBag.Title = "Home Page";
}

<h1> DMV Home Page </h1>

<p>Welcome to the DMV home page.</p>

<p>Here you'll see two tabs, the first tab will direct you to a view page 
    with all current requests for change. The second tab will direct you
    where you may fill out a new request. </p>

<h3> INSTRUCTIONS </h3>
<ul>
    <li>Read all information</li>
    <li>Please PRINT</li>
    <li>You MUST include <b>all</b> information or DMV may not be able to update the address.</li>
    <li>Remove the envelope where indeicated below, place the address change form in the envelope and mail to: DMV, 1905 Lana Ave NE, Salem OR 97314. </li>
</ul>

<h3> INFORMATION ABOUT YOUR </h3>
<h3> CHANGE OF ADDRESS</h3>

<p><b>You may change your address online at www.oregondmv.com</b> (or on here for practice)</p>

<p>DMV uses the same address for all vehicles registered in your name <b>and</b> for your Drivers license, Permit or ID Card.
    By giving us your new address, we will change the address on:</p>
<ol>
    <li>
        <p> Your Driver License, Permit or ID Card record. If your Driver License, Permit or ID Card is currently valid,
            we will send an address sticker to your new address. You must place this sticker on your card.</p>

    </li>
    <li>
        <p> Every vehicle registration record where you are the owner and where it is your address being used on the registration.</p>
        <ul>
            <li>If there are multiple owners and you are not the sure whoe address is being used, ask all owners to verify that their current address is on file with DMV.</li>
            <li>We will not send new registration cards. Please write your new address on the vehicle registration card so that it matches our computer records. </li>
        </ul>
    </li>
</ol>

<p><b>Please visit our website and explore the information we have available for you as well as options for doing business with DMV:</b></p>