.container-fluid{
    text-align: center;
}

a{
    color: #F7F7F7;
}

a:hover{
    color: rgb(247, 240, 245);
}

body{
    background-color: gray;
}

.center{
    margin: auto;
    width: 80%;
    text-align: center;
    float: none;

}
