/* this is the dropdown menu , provides colors and text */
.dropbtn{
    background-color: rgb(31, 30, 31);
    color: white;
    padding: 30px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
/* positions the dropdown menu */
.dropdown{
    position: left;
    display: inline-block;
    padding:20px;
}
/* content that holds all the classes and ids */
#content{
    padding: 20px;
    font-size: 16px;
}
/* continent in the dropdown menu */
.dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(135, 118, 136);
    min-width: 200 px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* the links within the dropdown menu */
.dropdown-content a {
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
}

/* highlights links within the dropdown menu */
.dropdown-content a:hover{
    background-color: rgb(185, 101, 160);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: #360236;
}

.container-fluid{
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 400px;
    background-color: rgb(88, 83, 92);

}
/* edits the title of the page */
#title{
    /* background-color: rgb(143, 140, 143); */
    color: black;
}
#image{
    margin: auto;
    float: left;
}

/* the body of the page */
body{
    background-color: #BBB6B6;
    color:black;
}