.container-fluid{
    text-align: center;
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 400px;
}

.col-sm-1{
    color:black;
    font-size: 16px;
}

p{
    margin-right: 300px;
    margin-left: 300px;
    color: black;
    font-size: 18px;
}

a{
    color: #F7F7F7;
    text-shadow: 0 0 8px black;
}

a:hover{
    color: rgb(247, 240, 245);
}

body{
    background-color: gray;
}

.center{
    margin: auto;
    width: 80%;
    text-align: center;
    float: none;

}

h1{
    color: black;
}