@model IEnumerable<HW8.Models.Artist>

@{
    ViewBag.Title = "ArtistView";
}

<h2>Artist</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Birth City</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ArtistName)</td>
        <td>@Html.DisplayFor(modelItem => item.DOB)</td>
        <td>@Html.DisplayFor(modelItem => item.BirthCity)</td>

    </tr>
}
</table>