@model IEnumerable<HW8.Models.ArtWork>

@{
    ViewBag.Title = "ClassView";
}

<h2>Classifications</h2>

<table>
    <tr>
        <th>ArtWork Title</th>
        <th>Genre</th>
    </tr>

    @foreach (var item in Model)
    {
        foreach (var g in item.Genres)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.ArtistName</td>
            </tr>
        }
    }

</table>

