@{
    ViewBag.Title = "Home Page";
}


<input type="text" id="searchbox" class="form-control" />
<input type="submit" class="btn btn-primary" id="searchbutton" value="Search" /> 
<div class="row">
    <div id="output">

    </div>
</div>

@section myScripts{ 
    <script src="~/Scripts/search.js"></script>
}