@model IEnumerable<HW6.Models.ProductPhoto>

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Welcome to AdventureWorks!!</h1>

<p>This is a place where you can find all your sporting goods and outdoor accessories.</p>