@model IEnumerable<HW8.Models.ArtWork>

@{
    ViewBag.Title = "ArtWorkView";
}

<h2>ArtWorks</h2>

<table>
    <tr> Title </tr>
    <tr> Artist </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.ArtistName)</td>
        </tr>
    }

</table>