
@{
    ViewBag.Title = "Convert1";
}

<h2> Fraction Converter </h2>

<p> Welcome Please enter in two numbers, following a D to convert it to a decimal or a P to convert to a percentage. </p>

<form method="post">
    <label for="nume"> Numerator </label>
    <input type="number" name="nume" value="" />
    <label for="denom"> Denominator </label>
    <input type="number" name="denom" value="" />
    <label for="act"> Decimal or Percent</label>
    <input type="text" name="act" value="" />
    <input type="submit" name="submit" value="Submit" />

</form>