
@{
    ViewBag.Title = "Form1";
}

<h2>Page 1</h2>

<form method="post">

    First Name: <input type="text" name="FN"><br>

    Last Name: <input type="text" name="LN"><br>

    <input type="submit">

</form>