
@{
    ViewBag.Title = "Form1";
}

<h2>Page 1</h2>

<p>Enter your name and your favorite number and we will create gamertag for you! </p>

<form method="post" action="/Home/Form1">
    <label for="fname"> First Name </label>
    <input type="text" name="Fname" value="" />
    <label for="Num"> Favorite Number </label>
    <input type="number" name="num" value="" />

    <input type="submit" name="submit" value="Submit" />
</form>


    <p> @ViewBag.newgt </p>
