
@{
    ViewBag.Title = "Form1";
}

<h2>Page 1</h2>

<form method="post">
    <label for="name"> First Name </label>
    <input type="text" name="Fname" value="" />
    <label for="password"> Last Name </label>
    <input type="text" name="Lname" value="" />
    <input type="submit" name="submit" value="Submit" />
</form>

@if (ViewBag.Fname == "Rahevin")
{
    <p>Thanks @ViewBag.Fname </p>
}