
@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>

<p> The assignment for HW4 </p>
<ul>
    <li><p> Create a "Home", this is it!</p></li>
    <li><p> Create a new Page, that contains that contains a form with at least two text fields and a submit button</p></li>
    <li><p> Create another new Page, with two text fields and a submit button, this uses Post, and formcollection</p></li>
    <li><p> Create a Loan pagge</p></li>
</ul>