@model  Forms.Models.LoanCalc

@{
    ViewBag.Title = "LoanCalc";
    Layout = null;
}
@*This is where we gather all the data from the user*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h2>Loan</h2>

<p> Ah man, that time again to take out them loans for your life style, well great news. I have a Calculator for you that can help</p>
<p> First textbox should contain the Amount</p>
<p> Second textbox should contain the monthly interest rate</p>
<p> And the last textbox should contain the number of payments you will like to make</p>

<form method="post">

    <label for="amount"> Amount </label>
    <input type="number" name="amount" min="0" value="" step=".01" />

    <label for="rate"> Rate </label>
    <input type="number" name="rate" min="0" value="" step=".01" />

    <label for="term"> Term Length </label>
    <input type="number" name="term" value="" />

    <input type="submit" name="submit" value="Submit" />
</form>

